<script type="text/javascript">
    if (window.location.hash && window.location.hash == '#_=_') {
        window.location.hash = '';
    }
</script>

<h1>Authenticated Successful</h1>
<p>User: {{{id}}}</p>
<p>Name: {{{name}}}</p>